.navbar {
    display: flex;
    /* Apply flexbox container for all elemnts under .navbar*/
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #1d1d1d;
    align-items: center;
    padding: 10px 20px;

    transform: translateY(-100%);
    /* Move the navbar off-screen initially */
    -webkit-animation: slideIn .65s;
    /* This applies the slideIn animation below for Safari 4.0 - 8.0 */
    animation: slideIn .65s ease-in forwards;
    /* "forwards" ensures the final state of the animation is maintained after completion*/
    z-index: 10;

    /* ===== SlideIn in MainVideo stylesheet =====*/
}

.navbar-social {
    gap: 15vw;
    /* adjust gap for space between social icons */
}

.navbar-social a img {
    width: clamp(30px, 5vw, 45px);
    height: clamp(30px, 5vw, 45px);
    border-radius: 50%;
}

.navbar-social a img:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 7px white;
    scale: 1.1;
}

.navbar-links {
    display: flex;
    list-style: none;
    padding-left: 6vw;
    gap: 20px;
    /* adjust gap for space between navigation icons */
}

.navbar-links li a {
    text-decoration: none;
    justify-content: flex-start;
    font-size: clamp(14px, 2.5vw, 28px);
    color: white;
    transition: all 0.3s ease-in-out;
}

.navbar-links li a:hover {
    background-color: snow;
    color: #333;
}

/* ============= NavBar Dynamic Resizing =============*/

.navbar-toggler {
    display: none;
    /* Hide the toggle button by default */
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

/* Media query for small screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        /* Hide the regular navigation links */
        flex-direction: column;
        position: absolute;
        top: 6vw;
        left: 0;
        background-color: #333;
        width: 30%;
        z-index: 1;
    }

    .navbar-links.active {
        display: flex;
        /* Show the dropdown menu when active */
        padding: 25px;
    }

    .navbar-toggler {
        display: block;
        /* Show the toggle button */
    }

    .navbar-toggle:hover {
        transition: scale .2s ease-in-out;
        scale: 1.1;
    }

    .navbar-toggler img {
        width: min(30px, 5vw);
        height: min(30px, 5vw);
        transition: all 0.3s ease-in-out;
    }

}

/* Navigation bar hide-away (see script.js)*/

.scrolled {
    transition: all .5s ease-in-out;
    top: -150px;
    /* Set to the height of the navbar */
}