body {
    padding: 0;
    margin: 0 auto;
    /* Standard width for modern webpages */
    max-width: 1200px;

    /* Background Adjustments */
    background-color: #111;
}

.tags-container {
    margin: 3rem 0;
}

@media screen and (max-width: 992px) {
    .tags-container {
        margin-bottom: 2rem;
    }
}

/************************************************************

	Game Title

*************************************************************/

.novacancy {
    font-family: "Monoton", sans-serif;
    font-size: clamp(2.75rem, 7vw, 3.5rem);
    line-height: 1.25rem;
}

.board {
    position: relative;
    top: 3rem;
    width: auto;
    max-width: 100%;
    margin-bottom: 4rem;

    text-transform: uppercase;
    text-shadow: 0 0 80px #e52d27, 0 0 30px FireBrick, 0 0 6px DarkRed;
    color: #e52d27;
    z-index: 15;
}

#error {
    color: whitesmoke;
    text-shadow: 0 0 80px whitesmoke, 0 0 30px #008000, 0 0 6px #0000ff;
}


/************************************************************

	Project Slides

*************************************************************/

.swiper-container {
    position: relative;
    /* Center in Col */
    height: 100%;
    width: auto;
    margin: 20px auto;

    /* Hide additional slides */
    overflow-x: hidden;
}

.swiper-slide-container {
    text-align: center;
    background: #fff;
    width: 100%;
    height: auto;
    margin: auto;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.gallery {
    height: auto;
    width: 100%;
}


/* Thumbnail specific container */

.thumbnail-container {
    text-align: center;
    /* Center thumbnails */
    padding: 10px 0;
}

.thumbnail {
    width: 75px;
    /* Fixed width for all thumbnails */
    height: auto;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.thumbnail:hover,
.thumbnail.thumb-active {
    opacity: 1;
}



/************************************************************

	Tag Styling

*************************************************************/

.badge {
    font-size: clamp(.55rem, 1.5vw, .75rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tag-bg-engine {
    background-color: whitesmoke;
    color: #111;
}

.tag-bg-genre {
    background-color: #e52d27;
}

.tag-bg-style {
    background-color: #9733e9;
}

.tag-bg-extra {
    background-color: #a3a1a1;
}