.game-container {
    display: flex;
    flex-direction: column;
}

canvas {
    width: 100%;
    max-width: 100%; /* Ensuring canvas doesn't exceed the viewport */
    height: 500px;
    margin-bottom: 0px; /* Space between canvases */
}

@media (max-width: 768px) {
    canvas {
        height: 300px; /* Smaller fixed height for mobile devices */
    }
}